<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="The Toolkit function's test suite in Golapi module">
            <file>tests/ToolkitTest.php</file>
        </testsuite>
        <testsuite name="The Business Logic's test suite in Golapi module with Conway's rules">
            <directory>tests/Business/Rule/Conway</directory>
        </testsuite>
        <testsuite name="The REST API test suite in Golapi module">
            <directory>tests/Rest/Controller</directory>
        </testsuite>
    </testsuites>

</phpunit>
