<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="Golapi adapter tesztek">
            <file>tests/Business/Odm/Doctrine/AdapterTest.php</file>
        </testsuite>
        <testsuite name="Conway szabály teszt">
            <directory>tests/Business/Rule/Conway</directory>
        </testsuite>
    </testsuites>

</phpunit>
